["/" {"auth" :auth
      "info" :info
      "_ping" :ping
      "version" :version
      "commit" :create-image-from-container
      "events" :events
      "build" :build-image
      "images" {"/get" :dump-images
                "/load" :load-images
                "/json" :images
                "/create" :create-image
                "/search" :search-images
                ["/" :image-name] {"" :remove-image
                                   "/json" :image
                                   "/history" :image-history
                                   "/get" :dump-image
                                   "/tag" :tag-image
                                   "/push" :push-image}}
      "containers" {"/json" :containers
                    "/create" :create-container
                    ["/" :container-id] {"" :remove-container
                                         "/top" :container-processes
                                         "/logs" :container-logs
                                         "/stats" :container-stats
                                         "/changes" :container-changes
                                         "/json" :container
                                         "/stop" :stop-container
                                         "/kill" :kill-container
                                         "/start" :start-container
                                         "/export" :export-container
                                         "/resize" :resize-container-tty
                                         "/restart" :restart-container
                                         "/rename" :rename-container
                                         "/pause" :pause-container
                                         "/unpause" :unpause-container
                                         "/attach" :attach-to-container
                                         "/attach/ws" :attach-to-container-ws
                                         "/exec" :create-exec-in-container
                                         "/wait" :wait-for-container
                                         "/copy" :copy-from-container}}
      "exec" {["/" :exec-id] {"/json" :exec
                              "/start" :start-exec
                              "/resize" :resize-exec-tty}}}]
